
.adminButtonContainer {
    display: flex;
    gap: 10px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 5%;
    align-items: center;
    flex-wrap: wrap;
    
}

.adminContainer {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 35px;
    gap: 20px;
}


.adminButton {
    height: fit-content;
    padding: 8px 5%;
    box-sizing: border-box;
    color: white;
    background-color: #2A3E3C;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.adminButtonContainer .adminButton {
    min-width: 140px;
    height: 32px;
    padding: 8px 8px;


}

.adminButton:hover {
    background-color: #131f1e;

    transform: translateY(-1.5px);
    transition: all 0.2s ease;
}
.adminButtonNarrow {
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    
}
.ml10 {
  margin-left: 10px;
}
.selfEnd {
  justify-self: end;
}

.selectFix {
  padding-top: 5px !important;
}


@media (max-width: 500px) {
    .adminContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: baseline;
    }
   
}