.cardHolder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    gap: 10%;
    row-gap: 45px;
}

.card {
    width: 380px;
    height: 280px;
    position: relative;
    border-radius: 15px;
    border: 3px solid #2A3E3C;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-3px) scale(1.005);
    /* очень лёгкий подъём и минимальное увеличение */
    box-shadow: 0 0 10px #131f1e;
}

.categoryImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.categoryName {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    width: 60%;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 15px;
    background-color: #2A3E3C;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;

}



.adminButtonHolder {
    display: flex;
    justify-content: space-between;
    /* width:260px; */
    width: 100%;
    margin-top: 20px;

}

.adminButton {
    background-color: #2A3E3C;
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 18px;
    height: fit-content;
    width: 45%;
    padding: 8px 5%;
    box-sizing: border-box;
    text-align: center;
    min-width: fit-content;
}

.adminButton:hover {
    background-color: #131f1e;
    /* чуть темнее основной цвет */
    transform: translateY(-1px);
    transition: all 0.2s ease;
}


@media (max-width: 550px) {
    .card {
        width: 280px;
        height: 180px;
    }
}