/* .dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    z-index: 2;
} */

.dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
    z-index: 9999;

    overflow-y: auto;
}

body.noScroll {
    overflow: hidden;
}

/* .content {
  
    border-radius: 15px;
    min-width: 400px; 


} */

.content {
    width: fit-content;
    max-width: 95vw;
}


/* @media (max-width:550px) {
    .content {
        min-width: auto;
        width: 280px;
    }

}

@media (max-height: 700px) {
    .dialog {
        align-items: flex-start;
    }
} */



@media (max-height: 700px) {
    .dialog {
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
