
* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-image: url('/public/wood_background.webp');
  height: 73px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  background: transparent;
  text-decoration: none;
}

.linkLogo {
  width: 40%;
  cursor: default;
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 18px;
  transition: all 0.2s ease;

}


.itemLogo {
  flex-direction: row;
  justify-content: start;
  gap: 2%;
  font-size: 20px;
  
}

.icon {
  height: 24px;
  width: auto;
}

.iconLogo {
  height: 34px;
  width: 34px;

}
.item:not(.itemLogo):hover {
  transform: scale(1.06);
}
.item:hover .icon {
    transform: scale(1.06);
    color: #000000; 
}
.logoContent {
  display: flex;
  align-items: center;
  gap: 5%;
  width: fit-content;
  transition: transform 0.2s ease;
  white-space: nowrap;
  cursor: pointer;
}

.logoContent:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 550px) {
 
  .itemLogo span {
    display: none;
  }
   .item span {
    display: none;
  }


}

@media screen and (max-width: 400px) {

  .banner {
    display: none;
  }
}