* {
    padding: 0;
    margin: 0;
}

.banner {
    width: 90%;
    height: 20vw;
    background-image: url('/public/banner.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 5%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 3vw;

}

.line {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 5%;
    font-size: 3vw;


}

.indent {
    margin-left: 25%;
}




.infoHolder {
    margin-top: 40px;
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}




.info {
    width: 50%;
    padding: 30px 40px;
    height: fit-content;
    background-color: #E3E0DA;
    border: 2px solid #B8B2A2;
    border-radius: 15px;
    font-family: 'Exo 2', sans-serif;
    line-height: 30px;
    text-indent: 30px;
}

.info strong {
    color: #2A3E3C;
    font-weight: 700;
}

.infoWide {
    margin-left: 5%;
    width: 90%;
    margin-top: 35px;
}

.adressInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adress {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    height: 25px;
}

.mapHolder {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

@media (max-width: 900px) {


    .infoHolder {
        flex-direction: column;
        justify-content: center;
    }

    .info {
        width: 100%;
        padding: 10px 20px;
    }

    .infoWide {
        width: 90%;
    }

    .adressInfo {
        width: 100%;
        align-items: flex-start;
    }

    .adress {
        margin-top: 20px;
    }
}

@media (max-width: 550px) {

    .adress {
        font-size: 14px;
    }

    .info {
        font-size: 16px;
    }

}

@media (max-width: 550px) {
    .banner {
        display: none;
    }
}